---
import Divider from '../ui/Divider.astro'
import FadedText from '../ui/FadedText.astro'
---

<div>
    <div class="w-full flex flex-row justify-between h-20 items-center">
        <div class="flex flex-row space-x-4 items-center">
            <FadedText>
                <p class="text-sm md:text-md hidden md:block">Jarvis Indexer</p>
            </FadedText>
        </div>
        <div class="flex flex-row space-x-4 md:space-x-6 text-secondary text-sm md:text-md">
            <FadedText>
                <p class="text-sm md:text-md hidden md:block">192.168.68.120</p>
            </FadedText>
       </div>
    </div>
    <Divider />
</div>